@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap');

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

/*child elemente werden sind als row angelegt.

space-between sorgt dafür, dass der gesamte
zur Verfügung stehende Platz zwischen den
Elementen liegt*/
.logoFrame
{
    width: 1920px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoFrame img
{
    left: 0px;
    right: 0px;
    height: 100px;
}

.separator
{
    animation: blinker 1s infinite;
}

@keyframes blinker
{
    50%{opacity: 0;}
}

.date-container
{
    margin-right: 5px;
    font-size: 40px;
    font-weight: 100;
    text-align: end;
}

.weatherInfoFrame
{
    position: relative;
    width: 1920px;
    height: 500px;
}

/*Pseudo Element um die opacity anwenden zu können*/
.weatherInfoFrame::before
{
    content: "";
    background-image: url('HAWK_von_oben.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0px;
    right: 5px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.weatherInfoFrame .container
{
    position: relative;
    padding: 115px 50px;
    align-items: center;
    color: white;
}

.weatherInfoFrame .future-forecast
{
    background: rgba(131, 131, 131, 0.8);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-forecast .today
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.future-forecast .today .day
{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp
{
    font-size: 30px;
    padding-top: 15px;
}

.future-forecast .weather-forecast
{
    display: flex;
    font-size: 40px;
}

.weather-forecast .weather-forecast-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
}

.weather-forecast .weather-forecast-item .day
{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp
{
    font-weight: 100;
    font-size: 30px;
}

.busInfoFrame
{
    width: 1920px;
    height: 500px;
    border: 2px solid white;
}

.netzplan
{
    position: relative;
    bottom: 90px;
    width: 100%;
    height: auto;
    opacity: 0.4; 
}

.buslogo
{
    position: absolute;
    left: 0px;
}

body{
    font-family: 'Fira Sans', sans-serif;
}